{% extends 'mycalendar/base.html' %}

{% load static %}
{% load humanize %}

{% block content %}
<style>
  table {
      border-collapse: collapse;
      width: 100%;
      height: 100%; /* Adjust the height as per your preference */
  }

  td {
      /* border: 1px solid #ddd; */
      padding: 4px;
      text-align: center;
      width: 150px; /* Adjust the width as per your preference */
      height: 50px; /* Adjust the height as per your preference */
  }
</style>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color:#006400">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-md-6 p-2">
      <form method="get" class="row">
        <div class="col-md-4 form-group">
          <div>
            <input type="number" id="year" name="year" class="form-control" value="{{ year|default:2023 }}" placeholder="Year">
          </div>
        </div>
        <div class="col-md-4 form-group">
          <div>
            <select name="department" id="department" class="form-control">
              <option value="">All departments</option>
              {% for department in departments %}
                <option value="{{ department.id }}" {% if department.id == selected_department %}selected{% endif %}>{{ department.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-4 form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>

  </div>

  <hr>

  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="row">
        <div class="row">
          <div class="col-md-3">
            <div class="card mb-3">
              {% for calendar in calendar_list|slice:":1" %}
              <div class="card-header text-center {% cycle 'bg-light' 'bg-secondary' 'bg-info' 'bg-warning' %}">{{ calendar|safe }}</div>
              {% endfor %}
            </div>
            <div class="card mb-3">
              {% for calendar in calendar_list|slice:"4:5" %}
              <div class="card-header text-center">{{ calendar|safe }}</div>
              {% endfor %}
            </div>
            <div class="card mb-3">
              {% for calendar in calendar_list|slice:"8:9" %}
              <div class="card-header text-center">{{ calendar|safe }}</div>
              {% endfor %}
            </div>
          </div>
          <div class="col-md-3">
            <div class="card mb-3">
              {% for calendar in calendar_list|slice:"1:2" %}
              <div class="card-header text-center">{{ calendar|safe }}</div>
              {% endfor %}
            </div>
            <div class="card mb-3">
              {% for calendar in calendar_list|slice:"5:6" %}
              <div class="card-header text-center">{{ calendar|safe }}</div>
              {% endfor %}
            </div>
            <div class="card mb-3">
              {% for calendar in calendar_list|slice:"9:10" %}
              <div class="card-header text-center">{{ calendar|safe }}</div>
              {% endfor %}
            </div>
          </div>
          <div class="col-md-3">
            <div class="card mb-3">
              {% for calendar in calendar_list|slice:"2:3" %}
              <div class="card-header text-center">{{ calendar|safe }}</div>
              {% endfor %}
            </div>
            <div class="card mb-3">
              {% for calendar in calendar_list|slice:"6:7" %}
              <div class="card-header text-center">{{ calendar|safe }}</div>
              {% endfor %}
            </div>
            <div class="card mb-3">
              {% for calendar in calendar_list|slice:"10:11" %}
              <div class="card-header text-center">{{ calendar|safe }}</div>
              {% endfor %}
            </div>
          </div>
          <div class="col-md-3">
            <div class="card mb-3">
              {% for calendar in calendar_list|slice:"3:4" %}
              <div class="card-header text-center">{{ calendar|safe }}</div>
              {% endfor %}
            </div>
            <div class="card mb-3">
              {% for calendar in calendar_list|slice:"7:8" %}
              <div class="card-header text-center">{{ calendar|safe }}</div>
              {% endfor %}
            </div>
            <div class="card mb-3">
              {% for calendar in calendar_list|slice:"11:12" %}
              <div class="card-header text-center">{{ calendar|safe }}</div>
              {% endfor %}
            </div>
          </div>
        </div>

        <hr>

        <div class="col-md-6">
          {% if selected_department %}
              <div class="card mb-3">
                <div class="card-header text-center" style="background-color: #337ab7; font-weight: bold; color: white;">
                  {{ department_name }} Department Leave Balances
                </div>
                <div class="card-body">
                  <table class="table table-sm table-hover table-striped">
                    <thead>
                      <tr>
                        <th>NAME</th>
                        <th>CURRENT LEAVE BALANCE</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for leave_request in leave_requests %}
                      <tr>
                        <td>{{ leave_request.name }}</td>
                        <td>{{ leave_request.leave_bal }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
          {% endif %}
        </div>

        <div class="col-md-6">
          {% if selected_date %}
            <div class="card mb-3">
              <div class="card-header text-center" style="background-color: #337ab7; font-weight: bold; color: white;">
                Applied Leaves for {{ selected_date }}
              </div>
              <div class="card-body">
                <table class="table table-sm table-hover table-striped">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for name, start_date, end_date in leave_requests_info %}
                    <tr>
                      <td>{{ name }}</td>
                      <td>{{ start_date }}</td>
                      <td>{{ end_date }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
